<header>
  <button mat-raised-button (click)="toogleModal()">
    New filter
  </button>
</header>
<hr />
<main>
  <form novalidate [formGroup]="testForm">
    <input formControlName="inp"/>
    {{testForm.status}}
  </form>

  <p><input type="ip" required pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"></p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
</main>
<app-modal-form
  *ngIf="isModalShow"
  (closeModal)="toogleModal()"
></app-modal-form>
