<header>
  <button mat-raised-button (click)="toogleModal()">
    New filter
  </button>
</header>
<hr />
<main>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, iste?</p>
  <div></div>
</main>
<app-modal-form
  *ngIf="isModalShow"
  (closeModal)="toogleModal()"
  (outForm)="fromFormToApp($event)"
  [formFromApp]="directForm"
></app-modal-form>
